@page "/manageusers"
@attribute [Authorize]
@inject IToastService toastService

<PageTitle>Manage Users</PageTitle>
    @{
        var className = "form-control ";
        var errorClassName = "invisible";
        if (notFound is not null && notFound.Value)
        {
            className += "input-invalid";
            errorClassName = "visible text-red form-control-sm px-0";
        } 
        void onSubmitClick() {
            notFound = null;
            className = "form-control ";
            errorClassName = "invisible";
        }
    }
    <EditForm Model="@searchModel" OnValidSubmit="@OnValidSubmit" OnInvalidSubmit="onSubmitClick">
    <!-- BEGIN SEARCH INPUT -->
    <div class="input-group mb-1">
        <InputText class="@className" @bind-Value="searchModel.Username" placeholder="Search User with IDIR" />
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
        </span>
    </div>
    <ValidationMessage For="() => searchModel.Username"></ValidationMessage>
    <div class="@errorClassName">User Not Found</div>
    
    <DataAnnotationsValidator />
</EditForm>

@if (spinning)
{
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else if (!String.IsNullOrWhiteSpace(user.UserName))
{
    <div class="panel panel-default mt-3">
        <div class="panel-heading fw-bold">User Info</div>
        <div class="panel-body">
            <div class="table-responsive">
                <UserDetails User=@user />
            </div>
        </div>
    </div>

    @if (projectMembershipRows is not null && projectMembershipRows.Count > 0)
    {
        <div class="panel panel-default mt-3">
            <div class="panel-heading fw-bold">Project Info</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <UserMembershipGrid RowsData="@projectMembershipRows" />
                </div>
            </div>
        </div>

        <button class="btn btn-primary mb-3" @onclick="SaveChanges">Save Changes</button>
        if(successSave is not null && successSave.Value == true) {
            toastService.ShowSuccess("Projects Saved Successfully");
        } else if(successSave is not null && successSave.Value == false) {
            toastService.ShowError("Error occured");
        }
    }
}
