@page "/manageusers"
@using BcGov.Jag.AccountManagement.Client.Data
@using BcGov.Jag.AccountManagement.Shared
@inject IRepository repository

<PageTitle>Manage Users</PageTitle>

<h1>Manage Users</h1>


<EditForm Model="@searchModel" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="searchModel.Username" />

    <button type="submit">Search</button>
</EditForm>

@if (spinning)
{
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else if (!String.IsNullOrWhiteSpace(user.UserName))
{
    <h2>User Info</h2>

    <table class="table">
        <thead>
            <tr>
                <th>bcgov GUID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>UPN</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@user.Id</td>
                <td>@user.LastName</td>
                <td>@user.FirstName</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.UserPrincipalName</td>
            </tr>
        </tbody>
    </table>

    @if (user.Projects is not null && user.Projects.Length > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Dynamics</th>
                    <th>Sharepoint</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in user.Projects)
                {
                    <tr>
                        <td>@project.Name</td>
                        <td>@GetProjectStatus(project, "Dynamics")</td>
                        <td>@GetProjectStatus(project, "SharePoint")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {
    /// <summary>
    /// If true we are searching for user.
    /// </summary>
    private bool spinning = false;

    /// <summary>
    /// Represents the data to search for.
    /// </summary>
    private UserSearchModel searchModel = new UserSearchModel();

    /// <summary>
    /// Represents the data found.
    /// </summary>
    private DetailedUser user = new DetailedUser();

    private async Task OnValidSubmit()
    {   
        spinning=true;
        await Task.Delay(1);

        try
        {
            user = await repository.LookupAsync(searchModel.Username);
        }
        finally
        {
            spinning=false; // ensure we disable spinner even if there is an error
            await Task.Delay(1);
        }             
    }

    private string GetProjectStatus(Project project, string type)
    {
        return project?.Resources?.FirstOrDefault(_ => _.Type == type)?.Status ?? "n/a";
    }
}
